<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018046236453-e3qt5184nb8p5f5fhkteruqekvf3ijol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018046236453-e3qt5184nb8p5f5fhkteruqekvf3ijol</string>
	<key>API_KEY</key>
	<string>AIzaSyCa1fDKGWkkrrDaj89doUKcDLKrTwb-7ok</string>
	<key>GCM_SENDER_ID</key>
	<string>1018046236453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jake.Kimp.alpha</string>
	<key>PROJECT_ID</key>
	<string>kimp-373c1</string>
	<key>STORAGE_BUCKET</key>
	<string>kimp-373c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018046236453:ios:e162fe01a3c6e5ca857ccc</string>
</dict>
</plist>